/* ===========================
   Base
   =========================== */
*
  @include box-sizing(border-box)

html, body
  min-height: 100%

body
  padding: 0
  margin: 0
  font-family: Arial
  @include background-image(linear-gradient(rgb(6, 38, 80), rgb(60, 89, 170)))

p
  color: #fff
