@charset "UTF-8"

// ----------------------
// == Site settings
// ----------------------

// = Colors
// -----------------------------

$dark-gray: #7C91A8
$light-gray: #BAC4D0
$list-blue: #163D6B
$list-highlight-blue: #325481
$list-delete-red: #843251

$img-path: '../../UI/assets/'


